/* common variables */
$--font-size-base: 14px !default;
$--border-color-light: #E4E7ED !default;

/* 时间轴相关变量 */
$--timeline-node-color: $--border-color-light !default;
$--timeline-node-size-normal: 12px !default;
$--timeline-node-size-large: 14px !default;